html,
#root,
.App {
  height: 100%;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  background: #222;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New",
    monospace;
  white-space: pre;
}

.left {
  flex-grow: 1;
  background: #414b4d;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}

.header {
  display: flex;
  height: 40px;
}

.header button {
  height: 40px;
  padding: 0 16px;
  border: none;
  font-family: "Rubik";
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.left .header {
  background: #282e2f;
}

.left .header button {
  background: #2e3637;
}

.left .header button.active {
  background: #414b4d;
}

.right .header {
  background: #36354b;
}

.right .header button {
  background: #42405c;
}

.right .header button.active {
  background: #4f4d6f;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #495557;
  min-width: 500px;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  height: 100%;
}

.code {
  height: 100%;
  padding: 16px;
  flex-shrink: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.macroOuter {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
}

.macroTitle {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 4px 12px;
}

.hasFocus {
  /* border-top: 4px solid #f77825; */
}

.line {
  display: flex;
  padding: 2px 0;
  position: relative;
}

.line.selected:after {
  content: " ";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100%);
  left: -4px;
  top: 0px;
  background: rgba(0, 240, 210, 0.4);
}

.line.selected.highlight:after {
  background: rgba(0, 240, 210, 0.6);
}

.lineNumber {
  color: #aaa;
  margin-right: 16px;
  user-select: none;
  width: 30px;
  text-align: left;
}

.instruction {
  display: flex;
  align-items: center;
}

.instruction div {
  position: relative;
}

.fragment.highlight:after {
  content: " ";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  left: -4px;
  top: -4px;
  border-radius: 2px;
  background: rgba(0, 170, 255, 0.4);
}

.fragment.scope {
  color: #00dffc;
}

.fragment.def {
  color: #fe4365;
}

.fragment.const {
  color: #ccc;
}

.fragment.parent {
  color: #fc9d9a;
}

.fragment.assign {
  color: #cfa4f5;
}

.fragment.compare {
  color: #5aedba;
}

.fragment.assignAction {
  color: #f77825;
}

.fragment.comparator {
  color: #f9cdad;
}

.fragment.os {
  color: #fc9d9a;
}

.fragment.jump {
  color: #fae571;
}

.empty.highlight {
  content: "\200b";
  height: 19px;
  min-width: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.bold-hint {
  color: rgba(255, 255, 255, 0.7);
}

.right .buttons {
  align-items: flex-start;
  width: 100%;
  display: flex;
  background: #3c3b54;
}

.right .buttons button {
  border: none;
  background: #484665;
  height: 44px;
  width: 80px;
  color: #fff;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-family: "Rubik";
}

.right .buttons button:hover {
  background: #444;
}

.outputs {
  color: #fff;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow: scroll;
  height: 100%;
}

.outputLine {
  display: flex;
}

.outputLine .lineNumber {
  width: auto;
}

.asm {
  text-align: left;
  background: none;
  border: none;
  font-family: "Source Code Pro";
  width: 500px;
  height: 100%;
  resize: none;
  color: #fff;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 14px;
}
